name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25.1'
      - run: go test -v ./...

  goreleaser:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run GoReleaser (Cross-Compile)
        run: |
          docker run --rm \
            -v $PWD:/code \
            -w /code \
            -e GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} \
            --entrypoint /bin/sh \
            ghcr.io/goreleaser/goreleaser-cross:v1.23.2 \
            -c "git config --global --add safe.directory /code && goreleaser release --clean"
